/* reset padding and margins */

* {
	margin: 0px;
	padding: 0px;
	/*filter: blur(100px);*/
}

body {
	font-family: helvetica, arial, sans-serif;
	margin: 0px;
	/*opacity: 0.2;*/
}

/*div {
mix-blend-mode: screen;	
}*/

#lights{
	padding: 10px;
	width: 4000px;
	height: 100%;
	background-color: black;
	position: absolute;
}

/*#lights {
	transform: scale(4);
	transform-origin: top left;
}
*/
#line2{
	width: 750px;
	height: 20px;
	background-color: white;
	transform: rotate(50deg);
	margin-top: 350px;
	-webkit-animation: neon1 1.5s ease-in-out infinite alternate;
	-moz-animation: neon1 1.5s ease-in-out infinite alternate;
	animation: neon1 1.5s ease-in-out infinite alternate;
}

#line2{
	box-shadow: 
	0 0 10px white, 
	0 0 20px white, 
	0 0 30px white, 
	0 0 40px red, 
	0 0 70px red, 
	0 0 80px red, 
	0 0 100px red, 
	0 0 150px red;
	opacity:1.0;
	color: white;
}


#line3{
	width: 750px;
	height: 20px;
	background-color: white;
	transform: rotate(140deg);
	margin-top: 0px;
	-webkit-animation: neone3 1.5s ease-in-out infinite alternate;
	-moz-animation: neon3 1.5s ease-in-out infinite alternate;
	animation: neon3 1.5s ease-in-out infinite alternate;
}

#line3{
	transition: all 0.3s ease-in-out;
}

#line3{
	box-shadow: 
	0 0 10px white, 
	0 0 20px white, 
	0 0 30px white, 
	0 0 40px yellow, 
	0 0 70px yellow, 
	0 0 80px yellow, 
	0 0 100px orange, 
	0 0 150px orange;
	opacity:1.0;
	color: white;
}

#line4{
	width: 750px;
	height: 20px;
	background-color: white;
	transform: rotate(100deg);
	margin-top: 0px;
	-webkit-animation: neon6 1.5s ease-in-out infinite alternate;
	-moz-animation: neon6 1.5s ease-in-out infinite alternate;
	animation: neon6 1.5s ease-in-out infinite alternate;
}


#line4{
	box-shadow: 
	0 0 10px white, 
	0 0 20px white, 
	0 0 30px white, 
	0 0 40px #00FF00, 
	0 0 70px #00FF00, 
	0 0 80px #00FF00, 
	0 0 100px yellow, 
	0 0 150px yellow;
	opacity:1.0;
	color: white;
}

#line4{
	box-shadow: 
	0 0 10px white, 
	0 0 20px white, 
	0 0 30px white, 
	0 0 40px purple, 
	0 0 70px purple, 
	0 0 80px purple, 
	0 0 100px purple, 
	0 0 150px purple;
	opacity:1.0;
	color: white;
}

#line5{
	width: 750px;
	height: 20px;
	background-color: white;
	transform: rotate(160deg);
	margin-top: 0px;
	margin-left: 110px;
	-webkit-animation: neon4 1.5s ease-in-out infinite alternate;
	-moz-animation: neon4 1.5s ease-in-out infinite alternate;
	animation: neon4 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon1 {
	from {
		box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
	}
	to {
		box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
	}
}

@-webkit-keyframes neon3 {
	from {
		box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
	}
	to {
		box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
	}
}

@keyframes neon4 {
	from {
		box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
	}
	to {
		box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
	}
}

@keyframes neon6 {
	from {
		box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
	}
	to {
		box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
	}
}


