/* reset padding and margins */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: helvetica, arial, sans-serif;
    background-color: black;
}

#container {width: 1200px; height: 500px; position: relative;}

.letterbox{
	/*background-color: green;*/
	position: relative;

	width: 130px;
    height: 150px;
/*    border: 1px solid red;*/

    z-index: 1;

    /*float: left;*/
    margin-top: 150px;
    margin-left: 60px;

    display: inline-block;

    transform: scale(1);

   /* display: none;*/
}


.letterbox div{
	position: absolute;
	transition: all 300ms ease;
    background-color: black;
    animation:0.5s example infinite;
    animation-direction: alternate;
   
}

.letterbox div:hover{
	transform: rotate(90deg);
    animation-name: example-1;
    transition: all .5s;
}

@keyframes example-1 {
    0%   {background-color: cyan;}
    25%  {background-color: yellow;}
    50%  {background-color: magenta;}
    100% {background-color: lime;}
}


@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}





.lineA{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}
.lineA1{
	top: 80px;
    left: -12px;
    transform: rotate(-70deg);
}

.lineA2{
	top: 80px;
    left: 39px;
    transform: rotate(-110deg);
}

.lineA3{
	top: 91px;
    left: 50px;
    width: 36px;
	
}

.lineB{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}

.lineB1{
	top: 80px;
    left: -33px;
    transform: rotate(-90deg);
}

.lineB2{
	top: 56px;
    left: 63px;
    width: 36px;
    transform: rotate(-90deg);
}

.lineB3{
	top: 107px;
    left: 94px;
    width: 36px;
    transform: rotate(-90deg);
}

.lineB4{
	width: 37px;
    top: 30px;
    left: 32px;
}

.lineB5{
	width: 73px;
    top: 83px;
    left: 32px;
}

.lineB6{
	width: 73px;
    top: 130px;
    left: 32px;
}

.lineC{
	position: absolute;
	width: 36px;
	height: 9px;
	background-color: red;
}

.lineC1{
	top: 79px;
    left: 1px;
    transform: rotate(-90deg);
}

.lineC2{
	top: 44px;
    left: 87px;
    transform: rotate(-135deg);
}

.lineC3{
	top: 116px;
    left: 87px;
    transform: rotate(-45deg);
}

.lineC4{
    top: 30px;
    left: 51px;
}

.lineC5{
   top: 43px;
    left: 16px;
    transform: rotate(-45deg);
}

.lineC6{
    top: 115px;
    left: 16px;
    transform: rotate(-135deg);
}

.lineC7{
    top: 130px;
    left: 51px;
}

.lineD{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}

.lineD1{
	top: 80px;
    left: -18px;
    transform: rotate(-90deg);
}

.lineD2{
	top: 44px;
    left: 82px;
    width: 36px;
    transform: rotate(-134deg);
}

.lineD3{
	top: 115px;
    left: 81px;
    width: 36px;
    transform: rotate(-45deg);
}

.lineD4{
	width: 36px;
    top: 30px;
    left: 46px;
}

.lineD5{
	width: 36px;
    top: 79px;
    left: 97px;
    transform: rotate(-90deg);
}

.lineD6{
	width: 36px;
    top: 130px;
    left: 47px;
}

.lineE{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}

.lineE1{
	top: 80px;
    left: -20px;
    transform: rotate(-90deg);
}

.lineE2{
	top: 79px;
    left: 44px;
    width: 73px;
  
}

.lineE3{
	top: 129px;
    left: 44px;
    width: 73px;
    
}

.lineE4{
	width: 73px;
    top: 30px;
    left: 44px;
}

.lineF{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}

.lineF1{
	top: 80px;
    left: -23px;
    transform: rotate(-90deg);
}

.lineF2{
	top: 79px;
    left: 42px;
    width: 73px;
  
}

.lineF3{
	top: 30px;
    left: 42px;
    width: 73px;
    
}

.lineG{
	position: absolute;
	width: 36px;
	height: 9px;
	background-color: red;
}

.lineG1{
	top: 79px;
    left: 1px;
    transform: rotate(-90deg);
}

.lineG2{
	top: 44px;
    left: 87px;
    transform: rotate(-135deg);
}

.lineG3{
	top: 114px;
    left: 87px;
    transform: rotate(-45deg);
}

.lineG4{
    top: 30px;
    left: 51px;
}

.lineG5{
   top: 43px;
    left: 16px;
    transform: rotate(-45deg);
}

.lineG6{
    top: 115px;
    left: 16px;
    transform: rotate(-135deg);
}

.lineG7{
    top: 130px;
    left: 51px;
}

.lineG8{
	top: 89px;
    left: 47px;
    width: 73px;
    
}

.lineH{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}

.lineH1{
	top: 80px;
    left: -34px;
    transform: rotate(-90deg);
}

.lineH2{
	top: 79px;
    left: 30px;
    width: 73px;
  
}

.lineH3{
	top: 80px;
    left: 57px;
    transform: rotate(-90deg);
    
}

.lineI{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}

.lineI1{
	top: 80px;
    left: 10px;
    transform: rotate(-90deg);
}

.lineJ{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}

.lineJ1{
	top: 80px;
    left: 34px;
    transform: rotate(-90deg);
}

.lineJ2{
	top: 130px;
    left: 44px;
    width: 36px;
  
}

.lineJ3{
	top: 107px;
    left: 19px;
    width: 36px;
    transform: rotate(-90deg);
}

.lineK{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}
.lineK1{
	top: 74px;
    left: -16px;
    transform: rotate(-90deg);
}

.lineK2{
	top: 46px;
    left: 42px;
    width: 73px;
    transform: rotate(-45deg);
}

.lineK3{
	top: 104px;
    left: 42px;
    width: 73px;
    transform: rotate(-136deg);
	
}

.lineL{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}

.lineL1{
	top: 74px;
    left: -23px;
    transform: rotate(-90deg);
}

.lineL2{
	top: 125px;
    left: 42px;
    width: 73px;
  
}

.lineM{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}
.lineM1{
	top: 74px;
    left: -56px;
    transform: rotate(-90deg);
}

.lineM2{
	top: 50px;
    left: 59px;
    width: 73px;
    transform: rotate(-45deg);
}

.lineM3{
	top: 50px;
    left: 1px;
    width: 73px;
    transform: rotate(-135deg);
	
}

.lineM4{
	top: 74px;
    left: 79px;
    transform: rotate(-90deg);
}

.lineN{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}
.lineN1{
	top: 74px;
    left: -40px;
    transform: rotate(-90deg);
}

.lineN2{
	top: 75px;
    left: 10px;
    width: 110px;
    transform: rotate(-130deg);
}

.lineN3{
	top: 74px;
    left: 60px;
    transform: rotate(90deg);
	
}

.lineO{
	position: absolute;
	width: 36px;
	height: 9px;
	background-color: red;
}

.lineO1{
	top: 74px;
    left: -5px;
    transform: rotate(-90deg);
}

.lineO2{
	top: 37px;
    left: 87px;
    transform: rotate(-135deg);
}

.lineO3{
	top: 37px;
    left: 10px;
    transform: rotate(-45deg);
}

.lineO4{
    top: 21px;
    left: 49px;
}

.lineO5{
  	top: 111px;
    left: 87px;
    transform: rotate(-45deg);
}

.lineO6{
    top: 110px;
    left: 12px;
    transform: rotate(-135deg);
}

.lineO7{
    top: 126px;
    left: 50px;
}

.lineO8{
    top: 74px;
    left: 101px;
    transform: rotate(-90deg);
}

.lineP{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}

.lineP1{
	top: 74px;
    left: -30px;
    transform: rotate(-90deg);
}

.lineP2{
	top: 46px;
    left: 94px;
    width: 36px;
    transform: rotate(-90deg);
}

.lineP3{
	top: 69px;
    left: 35px;
   	width: 73px;
}

.lineP4{
	width: 73px;
    top: 24px;
    left: 35px;
}

.lineQ{
	position: absolute;
	width: 36px;
	height: 9px;
	background-color: red;
}

.lineQ1{
	top: 74px;
    left: -4px;
    transform: rotate(-90deg);
}

.lineQ2{
	top: 37px;
    left: 85px;
    transform: rotate(-135deg);
}

.lineQ3{
	top: 110px;
    left: 85px;
    transform: rotate(-45deg);
}

.lineQ4{
    top: 23px;
    left: 47px;
}

.lineQ5{
    top: 37px;
    left: 10px;
    transform: rotate(-45deg);
}

.lineQ6{
    top: 110px;
    left: 11px;
    transform: rotate(-135deg);
}

.lineQ7{
    top: 125px;
    left: 47px;
}

.lineQ8{
    top: 74px;
    left: 100px;
    transform: rotate(-90deg);
}

.lineQ9{
    top: 132px;
    left: 94px;
}

.lineR{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}

.lineR1{
	top: 74px;
    left: -30px;
    transform: rotate(-90deg);
}

.lineR2{
	top: 45px;
    left: 95px;
    width: 36px;
    transform: rotate(-90deg);
}

.lineR3{
	top: 23px;
    left: 35px;
   	width: 73px;
}

.lineR4{
	width: 73px;
    top: 67px;
    left: 35px;
}

.lineR5{
	top: 103px;
    left: 54px;
    width: 73px;
    transform: rotate(-142deg);
	
}

.lineS{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}

.lineS1{
	top: 72px;
    left: 5px;
    transform: rotate(-136deg);
}

.lineS2{
	top: 121px;
    left: 24px;
    width: 73px;
  
}

.lineS3{
	top: 23px;
    left: 24px;
    width: 73px;
    
}

.lineT{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}

.lineT1{
	top: 74px;
    left: 10px;
    transform: rotate(-90deg);
}

.lineT2{
	top: 24px;
    left: 16px;
    width: 36px;
   
}

.lineT3{
	top: 24px;
    left: 79px;
    width: 36px;
 
}

.lineU{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}

.lineU1{
	top: 74px;
    left: -34px;
    transform: rotate(-90deg);
}

.lineU2{
	top: 125px;
    left: 32px;
    width: 73px;
  
}

.lineU3{
	top: 74px;
    left: 61px;
    transform: rotate(-90deg);
}

.lineV{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}

.lineV1{
	top: 74px;
    left: -15px;
    transform: rotate(-110deg);
}

.lineV2{
	top: 74px;
    left: 33px;
    transform: rotate(-70deg);
}

.lineW{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}

.lineW1{
	top: 74px;
    left: -46px;
    transform: rotate(-110deg);
}

.lineW2{
	top: 74px;
    left: 69px;
    transform: rotate(-70deg);
}

.lineW3{
	top: 91px;
    left: 47px;
    width: 73px;
    transform: rotate(-110deg);
}

.lineW4{
	top: 91px;
    left: 13px;
    width: 73px;
    transform: rotate(-70deg);
}

.lineX{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}

.lineX1{
	top: 45px;
    left: -1px;
    width: 73px;
    transform: rotate(-135deg);
}

.lineX2{
	top: 104px;
    left: -1px;
    width: 73px;
    transform: rotate(-45deg);
}

.lineX3{
	top: 104px;
    left: 58px;
    width: 73px;
    transform: rotate(-136deg);
}

.lineX4{
	top: 45px;
    left: 58px;
    width: 73px;
    transform: rotate(-45deg);
}

.lineY{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}

.lineY1{
	top: 45px;
    left: -1px;
    width: 73px;
    transform: rotate(-135deg);
}

.lineY2{
	 top: 74px;
    left: 1px;
    width: 146px;
    transform: rotate(-45deg);
}

.lineZ{
	position: absolute;
	width: 110px;
	height: 9px;
	background-color: red;
}

.lineZ1{
	top: 84px;
    left: 13px;
    transform: rotate(-43deg);
}

.lineZ2{
	top: 131px;
    left: 33px;
    width: 73px;
  
}

.lineZ3{
	top: 36px;
    left: 30px;
    width: 73px;
  
}


/*next pg*/
#pg{
    margin-top: -234px;
    
    margin-left: 426px;

    transform: scale(0.4);

    filter: hue-rotate(90deg);
}



































